In [1]:
import cv2
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd
import os
import tensorflow as tf

/home/jash/anaconda3/envs/py27/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
a=pd.read_csv("/home/jash/Desktop/capstone/labels_new.csv")

In [3]:
a.head()

   Unnamed: 0                                id             breed
0           0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1           1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2           2  001cdf01b096e06d78e9e5112d419397          pekinese
3           3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4           4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [4]:
labels=[]

for j in range(len(a)):
    b=a.iloc[j]['breed']
    labels.append(b)
    

unique_labels = list(set(labels))

In [5]:
len(unique_labels)

120

In [6]:
'/home/jash/Desktop/capstone/aa/'

'/home/jash/Desktop/capstone/aa/'

In [7]:
for index,row in a.iterrows():
    if not tf.gfile.Exists('/home/jash/Desktop/capstone/sorted_class/%s'%(row['breed'])):
        tf.gfile.MkDir('/home/jash/Desktop/capstone/sorted_class/%s'%(row['breed']))
#     print('train/%s.jpg'%(row['id']),'dog_train/%s'%(row['breed']))
    tf.gfile.Copy('/home/jash/Desktop/capstone/train/%s.jpg'%(row['id']),'/home/jash/Desktop/capstone/sorted_class/%s/%s.jpg'%(row['breed'],row['id']),True)