In [1]:
import pandas as pd
import numpy as np
import math 
from sklearn import datasets

train = pd.read_csv("~/Desktop/ASS1//train.csv")
test = pd.read_csv("~/Desktop/ASS1/test.csv")

data_train=pd.DataFrame(train,columns=['Pclass','Age','Fare','SibSp','Parch'])
data_train['Age'].fillna(data_train['Age'].mean(),inplace=True)


data_test=pd.DataFrame(test,columns=['Pclass','Age','Fare','SibSp','Parch'])
data_test['Age'].fillna(data_test['Age'].mean(),inplace=True)

target_train=pd.DataFrame(train,columns=['Survived'])
target_test=pd.DataFrame(test,columns=['Survived'])

In [2]:
data_train.isnull().sum()

Pclass    0
Age       0
Fare      0
SibSp     0
Parch     0
dtype: int64

In [3]:
data_test.isnull().sum()

Pclass    0
Age       0
Fare      1
SibSp     0
Parch     0
dtype: int64

In [4]:
data_train.head()

   Pclass   Age     Fare  SibSp  Parch
0       3  22.0   7.2500      1      0
1       1  38.0  71.2833      1      0
2       3  26.0   7.9250      0      0
3       1  35.0  53.1000      1      0
4       3  35.0   8.0500      0      0

In [5]:
data_train['b_values']=1

In [6]:
data_train.head()

   Pclass   Age     Fare  SibSp  Parch  b_values
0       3  22.0   7.2500      1      0         1
1       1  38.0  71.2833      1      0         1
2       3  26.0   7.9250      0      0         1
3       1  35.0  53.1000      1      0         1
4       3  35.0   8.0500      0      0         1

In [7]:
data_test['b_values']=1
data_test.head()

   Pclass   Age     Fare  SibSp  Parch  b_values
0       3  34.5   7.8292      0      0         1
1       3  47.0   7.0000      1      0         1
2       2  62.0   9.6875      0      0         1
3       3  27.0   8.6625      0      0         1
4       3  22.0  12.2875      1      1         1

In [8]:
def sigmoid(x):
    return(1.0/(1.0+np.exp(-1.0*x)) )

In [9]:

weights=np.zeros((1,6))

In [10]:
weights

array([[0., 0., 0., 0., 0., 0.]])

In [11]:
def stochastic_grad_descent_logistic(data,target,weights,alpha,numiterations):
    m=len(target)
    w_l=len(weights.T)
        
    for k in range(numiterations):
        f=weights.T
        p= data.dot(f)
        predicted=sigmoid(p)
        diff=np.subtract(target,predicted)
        
        loss=((-np.dot(target.T,(np.log(predicted))))-np.dot((1-target).T,(np.log(1-predicted))))/m
        
        
        
        delta=1e-1
        if(loss>delta):
            for i in range(m):            
                for j in range(w_l-1):
                    gradient=(data.iloc[i][j])*(np.subtract(target.iloc[i],predicted.iloc[i]))/m
                    weights[0][j]=weights[0][j]+alpha*gradient
                
                gradient_b=np.subtract(target.iloc[i],predicted.iloc[i])/m
                weights[0][w_l-1]=weights[0][w_l-1]+alpha*gradient_b
                    
                p=(data.dot(f))
                predicted=sigmoid(p)
                diff=np.subtract(target,predicted)
                loss=((-np.dot(target.T,(np.log(predicted))))-np.dot((1-target).T,(np.log(1-predicted))))/m
            print "loss after ",k,"th iteration : ",loss
            
        if(k>5):
            alpha=alpha/2        
            
        
        
    return weights

In [12]:
def logistic_regression_fit(data_train,target_train):
    data=data_train
    target=target_train
    
    x=len(data.columns)
    weights=np.zeros((1,x))
    
    alpha=.002
    numiterations=10
    k=weights.T
    p=(data_train.dot(k))
    m=len(target_train)

    
    predicted=sigmoid(p)
    
    
    diff=np.subtract(target,predicted)
    
    loss=((-np.dot(target.T,(np.log(predicted))))-np.dot((1-target).T,(np.log(1-predicted))))/m
    
    
    
        
    
    weights=stochastic_grad_descent_logistic(data,target,weights,alpha,numiterations)
    p=(data_train.dot(weights.T))
    predicted=sigmoid(p)
    
    diff=np.subtract(target,predicted)
    
    loss=((-np.dot(target.T,(np.log(predicted))))-np.dot((1-target).T,(np.log(1-predicted))))/m
        
    
    return loss,weights

In [20]:
def logistic_regression_predict(data_test,target_test,weights):
    p=(data_test.dot(np.transpose(weights)))
    m=len(target_test)
    predicted=sigmoid(p)
    target=target_test
    
    diff=np.subtract(target,predicted)
    
    loss=((-np.dot(target.T,(np.log(predicted))))-np.dot((1-target).T,(np.log(1-predicted))))/m
    threshold=.5    
    
    classified=np.zeros((1,len(target_test)) )
    for k in range(len(data_test)):
        if(predicted.iloc[k]>threshold):
            classified.iloc[0][k]=1
            if(target[k]!= classified[0][k]):
                incorrect=incorrect+1
        if(predicted.iloc[k]<threshold):
            classified[0][k]=0
            if(target[k]!=classified[0][k]):
                incorrect=incorrect+1

    accuracy=incorrect/len(target_test)
    return classified,accuracy

In [14]:
loss,weights=logistic_regression_fit(data_train,target_train)

loss after  0 th iteration :  [[0.66262832]]
loss after  1 th iteration :  [[0.64685424]]
loss after  2 th iteration :  [[0.63807782]]
loss after  3 th iteration :  [[0.63298744]]
loss after  4 th iteration :  [[0.62992931]]
loss after  5 th iteration :  [[0.62803928]]
loss after  6 th iteration :  [[0.62684357]]
loss after  7 th iteration :  [[0.62635822]]
loss after  8 th iteration :  [[0.62614928]]
loss after  9 th iteration :  [[0.62605351]]

In [21]:
classified,accuracy=logistic_regression_predict(data_test,target_test,weights)
print accuracy

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().