In [1]:
import pandas as pd
df=pd.read_csv("/home/jash/Desktop/petplan/Profitability1.txt", sep='\t', lineterminator='\n')

In [2]:
df.iloc[267910][0]

'.00000000000000000|30|CAN130603Atlantis|2015-06-23|2015-07-22|19471||.000000|Border Collie Mix|4|.80|100|Dog|Introductory|AGR|||||||130603|CAN|(306) 221-8268|Hamp|Mckenzie|24-1001 12th st e|saskatoon|SK|S7L 0C9|LowTenure-LowLR||1\r'

In [3]:
df.iloc[267909][0]

'|116|CAN362374Churchill|2018-04-03|2019-04-02|147830||103.751671|Pembroke Welsh Corgi|2|.80|500|Dog|5000|CAN|||||||362374|CAN|(604) 728-7598|Rafati|Nima|#70-250 E. 15th St.|North Vancouver|BC|V7L 2R4|LowTenure-LowLR||0\r'

In [4]:
df.iloc[299539][0]

'|200|US2204538Bella|2018-01-09|2019-01-08|585904||118.367123|Mixed Breed Small ( up to 22lb )|2|.80|500|Dog|10000|XLC|||||||2204538|US|(215) 378-6330|Gordon|Diane|13 Hillside Ln|Yardley|PA|19067-5403|LowTenure-LowLR||0\r'

In [5]:
a=pd.read_table("/home/jash/Desktop/petplan/Profitability1.txt", sep='|', lineterminator='\n', error_bad_lines=False)

Skipping line 267909: expected 33 fields, saw 34

Skipping line 299539: expected 33 fields, saw 34

/home/jash/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
a.head()

,LossRatio,Duration,PetId,StartDate,EndDate,LastPolicyRef,TotalClaimsAmtPaid,TotalEarnedPremium,BreedName,Currentage,...,PhoneNumber,Surname,GivenName,CustomerMailingAddr_Addr1,CustomerMailingAddr_City,CustomerMailingAddr_StateProvCd,CustomerMailingAddr_PostalCode,Quadrant,claimdurationInception,churn
0,0.618038,1026,US1439036kayla,2015-10-06,2018-11-24,560481,1319.141,2134.399452,Mixed Breed Medium (23 - 70lb),9.0,...,(862) 252-4483,algarin,jason,684 Dorothea Ln,Elmont,NY,11003-4520,HighTenure-HighLR,952.0,0
1,12.842839,484,US1960128Corbie,2017-03-31,2019-03-30,608993,7568.184,589.292137,Dachshund - long haired,4.0,...,(770) 870-7404,Gardener,Jessica,6902 E Taos Pl,Tucson,AZ,85715-3343,HighTenure-HighLR,255.0,0
2,0.058918,1025,US1332798Sophie,2015-06-20,2018-04-09,454361,58.460,992.219616,Mixed Breed Small ( up to 22lb ),2.0,...,(818) 262-0387,Auster,Allyson,2151 Calle Lys,Thousand Oaks,CA,91360-4933,HighTenure-LowLR,921.0,1
3,16.312924,528,US1437703Siggy,2015-10-05,2017-03-15,289557,9040.553,554.195726,Labrador Mix,6.0,...,(512) 289-7915,Morgan,Yanin,2036 Columbia St,Houston,TX,77008-2637,LowTenure-HighLR,401.0,1
4,8.421790,1080,US150902Dino,2015-08-13,2018-08-12,508838,12328.316,1463.859397,Mixed Breed Medium (23 - 70lb),3.0,...,(850) 368-7632,Hawkey,Melanie,7142 East Bay Blvd,Navarre,FL,32566-9013,HighTenure-HighLR,341.0,0

In [7]:
data=pd.DataFrame(data=a,index=None)

In [8]:
data.shape

(425903, 33)

In [9]:
data['L']=0

In [10]:
data.loc[data['LossRatio'] >.57, 'L'] = 1

In [11]:
data.head()

,LossRatio,Duration,PetId,StartDate,EndDate,LastPolicyRef,TotalClaimsAmtPaid,TotalEarnedPremium,BreedName,Currentage,...,Surname,GivenName,CustomerMailingAddr_Addr1,CustomerMailingAddr_City,CustomerMailingAddr_StateProvCd,CustomerMailingAddr_PostalCode,Quadrant,claimdurationInception,churn,L
0,0.618038,1026,US1439036kayla,2015-10-06,2018-11-24,560481,1319.141,2134.399452,Mixed Breed Medium (23 - 70lb),9.0,...,algarin,jason,684 Dorothea Ln,Elmont,NY,11003-4520,HighTenure-HighLR,952.0,0,1
1,12.842839,484,US1960128Corbie,2017-03-31,2019-03-30,608993,7568.184,589.292137,Dachshund - long haired,4.0,...,Gardener,Jessica,6902 E Taos Pl,Tucson,AZ,85715-3343,HighTenure-HighLR,255.0,0,1
2,0.058918,1025,US1332798Sophie,2015-06-20,2018-04-09,454361,58.460,992.219616,Mixed Breed Small ( up to 22lb ),2.0,...,Auster,Allyson,2151 Calle Lys,Thousand Oaks,CA,91360-4933,HighTenure-LowLR,921.0,1,0
3,16.312924,528,US1437703Siggy,2015-10-05,2017-03-15,289557,9040.553,554.195726,Labrador Mix,6.0,...,Morgan,Yanin,2036 Columbia St,Houston,TX,77008-2637,LowTenure-HighLR,401.0,1,1
4,8.421790,1080,US150902Dino,2015-08-13,2018-08-12,508838,12328.316,1463.859397,Mixed Breed Medium (23 - 70lb),3.0,...,Hawkey,Melanie,7142 East Bay Blvd,Navarre,FL,32566-9013,HighTenure-HighLR,341.0,0,1

In [12]:
data.columns

Index([u'LossRatio', u'Duration', u'PetId', u'StartDate', u'EndDate',
       u'LastPolicyRef', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'BreedName', u'Currentage', u'CopayPct', u'Deductible', u'PetType',
       u'PolicyForm', u'CarrierCd', u'ClaimNumber', u'ClaimAmount',
       u'ClaimDetails', u'ConditionGrp', u'Claimcodecategory', u'Severity',
       u'CustomerNumber', u'Country', u'PhoneNumber', u'Surname', u'GivenName',
       u'CustomerMailingAddr_Addr1', u'CustomerMailingAddr_City',
       u'CustomerMailingAddr_StateProvCd', u'CustomerMailingAddr_PostalCode',
       u'Quadrant', u'claimdurationInception', u'churn\r', u'L'],
      dtype='object')

In [13]:
data.to_csv("/home/jash/Desktop/petplan/Profitability.csv")

In [14]:
Y=data['L']

In [15]:
y=pd.DataFrame(Y)

In [16]:
y.head()

   L
0  1
1  1
2  0
3  1
4  1

In [17]:
x=pd.DataFrame(data)

In [18]:
x.drop(['LossRatio'],axis=1,inplace=True)

In [19]:
data['HighTenure-HighLR']=0
data['HighTenure-LowLR']=0
data['LowTenure-HighLR']=0
data['LowTenure-LowLR']=0

In [20]:
data.columns

Index([u'LossRatio', u'Duration', u'PetId', u'StartDate', u'EndDate',
       u'LastPolicyRef', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'BreedName', u'Currentage', u'CopayPct', u'Deductible', u'PetType',
       u'PolicyForm', u'CarrierCd', u'ClaimNumber', u'ClaimAmount',
       u'ClaimDetails', u'ConditionGrp', u'Claimcodecategory', u'Severity',
       u'CustomerNumber', u'Country', u'PhoneNumber', u'Surname', u'GivenName',
       u'CustomerMailingAddr_Addr1', u'CustomerMailingAddr_City',
       u'CustomerMailingAddr_StateProvCd', u'CustomerMailingAddr_PostalCode',
       u'Quadrant', u'claimdurationInception', u'churn\r', u'L',
       u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR'],
      dtype='object')

In [21]:
data.loc[data['Quadrant']=='HighTenure-HighLR', 'HighTenure-HighLR'] = 1
data.loc[data['Quadrant']=='HighTenure-LowLR', 'HighTenure-LowLR'] = 1
data.loc[data['Quadrant']=='LowTenure-HighLR', 'LowTenure-HighLR'] = 1
data.loc[data['Quadrant']=='LowTenure-LowLR', 'LowTenure-LowLR'] = 1

In [22]:
data.head()

,LossRatio,Duration,PetId,StartDate,EndDate,LastPolicyRef,TotalClaimsAmtPaid,TotalEarnedPremium,BreedName,Currentage,...,CustomerMailingAddr_StateProvCd,CustomerMailingAddr_PostalCode,Quadrant,claimdurationInception,churn,L,HighTenure-HighLR,HighTenure-LowLR,LowTenure-HighLR,LowTenure-LowLR
0,0.618038,1026,US1439036kayla,2015-10-06,2018-11-24,560481,1319.141,2134.399452,Mixed Breed Medium (23 - 70lb),9.0,...,NY,11003-4520,HighTenure-HighLR,952.0,0,1,1,0,0,0
1,12.842839,484,US1960128Corbie,2017-03-31,2019-03-30,608993,7568.184,589.292137,Dachshund - long haired,4.0,...,AZ,85715-3343,HighTenure-HighLR,255.0,0,1,1,0,0,0
2,0.058918,1025,US1332798Sophie,2015-06-20,2018-04-09,454361,58.460,992.219616,Mixed Breed Small ( up to 22lb ),2.0,...,CA,91360-4933,HighTenure-LowLR,921.0,1,0,0,1,0,0
3,16.312924,528,US1437703Siggy,2015-10-05,2017-03-15,289557,9040.553,554.195726,Labrador Mix,6.0,...,TX,77008-2637,LowTenure-HighLR,401.0,1,1,0,0,1,0
4,8.421790,1080,US150902Dino,2015-08-13,2018-08-12,508838,12328.316,1463.859397,Mixed Breed Medium (23 - 70lb),3.0,...,FL,32566-9013,HighTenure-HighLR,341.0,0,1,1,0,0,0

In [23]:
data.drop(['Quadrant'],axis=1,inplace=True)

In [24]:
x.head()
x.to_csv("/home/jash/Desktop/petplan/xonly.csv")

In [25]:
x.drop(['CustomerNumber','PhoneNumber','Surname','GivenName','CustomerMailingAddr_Addr1','CustomerMailingAddr_City','CustomerMailingAddr_StateProvCd',
       'CustomerMailingAddr_PostalCode','PetId','StartDate','EndDate','LastPolicyRef'],axis=1,inplace=True)

In [26]:
x.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium', u'BreedName',
       u'Currentage', u'CopayPct', u'Deductible', u'PetType', u'PolicyForm',
       u'CarrierCd', u'ClaimNumber', u'ClaimAmount', u'ClaimDetails',
       u'ConditionGrp', u'Claimcodecategory', u'Severity', u'Country',
       u'Quadrant', u'claimdurationInception', u'churn\r', u'L'],
      dtype='object')

In [27]:
x.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,BreedName,Currentage,CopayPct,Deductible,PetType,PolicyForm,CarrierCd,...,ClaimAmount,ClaimDetails,ConditionGrp,Claimcodecategory,Severity,Country,Quadrant,claimdurationInception,churn,L
0,1026,1319.141,2134.399452,Mixed Breed Medium (23 - 70lb),9.0,0.8,400,Dog,10000,XLC,...,159.20,LVJ - hepatopathy,LVJ - hepatopathy,Illness,Curable,US,HighTenure-HighLR,952.0,0,1
1,484,7568.184,589.292137,Dachshund - long haired,4.0,0.8,250,Dog,15000,XLC,...,13.92,GBC - pancreatitis,Pancreatic Disease,Illness,Curable,US,HighTenure-HighLR,255.0,0,1
2,1025,58.460,992.219616,Mixed Breed Small ( up to 22lb ),2.0,0.9,300,Dog,20000,XLC,...,29.41,GAA - colitis,Non-specific GI Disease (Vomiting/Diarrhea),Illness,Curable,US,HighTenure-LowLR,921.0,1,0
3,528,9040.553,554.195726,Labrador Mix,6.0,0.9,200,Dog,Bronze,ALZ,...,58.50,POA - prescription drug poisoning,POA - prescription drug poisoning,Illness,Curable,US,LowTenure-HighLR,401.0,1,1
4,1080,12328.316,1463.859397,Mixed Breed Medium (23 - 70lb),3.0,0.9,200,Dog,Unlimited,XLC,...,312.99,AA9 - cruciate ligament tear/rupture,Cruciate Injuries,Accident,Non-Curable,US,HighTenure-HighLR,341.0,0,1

In [28]:
len(x['BreedName'].unique())

548

In [29]:
x.to_csv("/home/jash/Desktop/petplan/xonly_edited2.csv")

In [30]:
import numpy as np
from sklearn.model_selection import train_test_split

In [31]:
m=.8*len(x)
m=340723
x_tr=x[:m]
y_tr=y[:m]
x_te=x[m:]
y_te=y[m:]

In [35]:
x_tr.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,BreedName,Currentage,CopayPct,Deductible,PetType,PolicyForm,CarrierCd,...,ClaimAmount,ClaimDetails,ConditionGrp,Claimcodecategory,Severity,Country,Quadrant,claimdurationInception,churn,L
0,1026,1319.141,2134.399452,Mixed Breed Medium (23 - 70lb),9.0,0.8,400,Dog,10000,XLC,...,159.20,LVJ - hepatopathy,LVJ - hepatopathy,Illness,Curable,US,HighTenure-HighLR,952.0,0,1
1,484,7568.184,589.292137,Dachshund - long haired,4.0,0.8,250,Dog,15000,XLC,...,13.92,GBC - pancreatitis,Pancreatic Disease,Illness,Curable,US,HighTenure-HighLR,255.0,0,1
2,1025,58.460,992.219616,Mixed Breed Small ( up to 22lb ),2.0,0.9,300,Dog,20000,XLC,...,29.41,GAA - colitis,Non-specific GI Disease (Vomiting/Diarrhea),Illness,Curable,US,HighTenure-LowLR,921.0,1,0
3,528,9040.553,554.195726,Labrador Mix,6.0,0.9,200,Dog,Bronze,ALZ,...,58.50,POA - prescription drug poisoning,POA - prescription drug poisoning,Illness,Curable,US,LowTenure-HighLR,401.0,1,1
4,1080,12328.316,1463.859397,Mixed Breed Medium (23 - 70lb),3.0,0.9,200,Dog,Unlimited,XLC,...,312.99,AA9 - cruciate ligament tear/rupture,Cruciate Injuries,Accident,Non-Curable,US,HighTenure-HighLR,341.0,0,1

In [36]:
len(x['Severity'].unique())

3

In [37]:
p=pd.DataFrame(x)

In [38]:
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium', u'BreedName',
       u'Currentage', u'CopayPct', u'Deductible', u'PetType', u'PolicyForm',
       u'CarrierCd', u'ClaimNumber', u'ClaimAmount', u'ClaimDetails',
       u'ConditionGrp', u'Claimcodecategory', u'Severity', u'Country',
       u'Quadrant', u'claimdurationInception', u'churn\r', u'L'],
      dtype='object')

In [39]:
p.drop(['BreedName','ClaimDetails','ConditionGrp'],axis=1,inplace=True)

In [40]:
p.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,Currentage,CopayPct,Deductible,PetType,PolicyForm,CarrierCd,ClaimNumber,ClaimAmount,Claimcodecategory,Severity,Country,Quadrant,claimdurationInception,churn,L
0,1026,1319.141,2134.399452,9.0,0.8,400,Dog,10000,XLC,2010347.0,159.20,Illness,Curable,US,HighTenure-HighLR,952.0,0,1
1,484,7568.184,589.292137,4.0,0.8,250,Dog,15000,XLC,1938857.0,13.92,Illness,Curable,US,HighTenure-HighLR,255.0,0,1
2,1025,58.460,992.219616,2.0,0.9,300,Dog,20000,XLC,1901584.0,29.41,Illness,Curable,US,HighTenure-LowLR,921.0,1,0
3,528,9040.553,554.195726,6.0,0.9,200,Dog,Bronze,ALZ,1644228.0,58.50,Illness,Curable,US,LowTenure-HighLR,401.0,1,1
4,1080,12328.316,1463.859397,3.0,0.9,200,Dog,Unlimited,XLC,1603222.0,312.99,Accident,Non-Curable,US,HighTenure-HighLR,341.0,0,1

In [41]:
p['Quadrant'].unique()

array(['HighTenure-HighLR', 'HighTenure-LowLR', 'LowTenure-HighLR',
       'LowTenure-LowLR'], dtype=object)

In [42]:
p['HighTenure-HighLR']=0
p['HighTenure-LowLR']=0
p['LowTenure-HighLR']=0
p['LowTenure-LowLR']=0
p.loc[p['Quadrant']=='HighTenure-HighLR', 'HighTenure-HighLR'] = 1
p.loc[p['Quadrant']=='HighTenure-LowLR', 'HighTenure-LowLR'] = 1
p.loc[p['Quadrant']=='LowTenure-HighLR', 'LowTenure-HighLR'] = 1
p.loc[p['Quadrant']=='LowTenure-LowLR', 'LowTenure-LowLR'] = 1

In [43]:
p.drop(['Quadrant'],axis=1,inplace=True)

In [44]:
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PetType', u'PolicyForm',
       u'CarrierCd', u'ClaimNumber', u'ClaimAmount', u'Claimcodecategory',
       u'Severity', u'Country', u'claimdurationInception', u'churn\r', u'L',
       u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR'],
      dtype='object')

In [45]:
p['Country'].unique()

array(['US', 'CAN', nan], dtype=object)

In [46]:
p['US']=0
p['CAN']=0
p.loc[p['Country']=='US', 'US'] = 1
p.loc[p['Country']=='CAN', 'CAN'] = 1
p.drop(['Country'],axis=1,inplace=True)

In [47]:
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PetType', u'PolicyForm',
       u'CarrierCd', u'ClaimNumber', u'ClaimAmount', u'Claimcodecategory',
       u'Severity', u'claimdurationInception', u'churn\r', u'L',
       u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR', u'US', u'CAN'],
      dtype='object')

In [48]:
p['PetType'].unique()

array(['Dog', 'Cat', 'PPDOG001', 'PPCAT001'], dtype=object)

In [49]:
p['Dog']=0
p['Cat']=0
p['PPDOG001']=0
p['PPCAT001']=0
p.loc[p['PetType']=='Dog', 'Dog'] = 1
p.loc[p['PetType']=='Cat', 'Cat'] = 1
p.loc[p['PetType']=='PPDOG001', 'PPDOG001'] = 1
p.loc[p['PetType']=='PPCAT001', 'PPCAT001'] = 1

In [50]:
p.drop(['PetType'],axis=1,inplace=True)

In [51]:
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PolicyForm', u'CarrierCd',
       u'ClaimNumber', u'ClaimAmount', u'Claimcodecategory', u'Severity',
       u'claimdurationInception', u'churn\r', u'L', u'HighTenure-HighLR',
       u'HighTenure-LowLR', u'LowTenure-HighLR', u'LowTenure-LowLR', u'US',
       u'CAN', u'Dog', u'Cat', u'PPDOG001', u'PPCAT001'],
      dtype='object')

In [52]:
p['Claimcodecategory'].unique()

array(['Illness', 'Accident', 'Others', nan], dtype=object)

In [53]:
p['Illness']=0
p['Accident']=0
p['Others']=0
p.loc[p['Claimcodecategory']=='Illness', 'Illness'] = 1
p.loc[p['Claimcodecategory']=='Accident', 'Accident'] = 1
p.loc[p['Claimcodecategory']=='Others', 'Others'] = 1

In [54]:
p.drop(['Claimcodecategory','ClaimNumber'],axis=1,inplace=True)

In [55]:
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PolicyForm', u'CarrierCd',
       u'ClaimAmount', u'Severity', u'claimdurationInception', u'churn\r',
       u'L', u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR', u'US', u'CAN', u'Dog', u'Cat', u'PPDOG001',
       u'PPCAT001', u'Illness', u'Accident', u'Others'],
      dtype='object')

In [59]:
p['Severity'].unique()

array(['Curable', 'Non-Curable', nan], dtype=object)

In [60]:
p['Curable']=0
p['Non-Curable']=0
p.loc[p['Severity']=='Curable', 'Curable'] = 1
p.loc[p['Severity']=='Accident', 'Non-Curable'] = 1

In [ ]:
p.drop(['Severity'],axis=1,inplace=True)

In [61]:
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PolicyForm', u'CarrierCd',
       u'ClaimAmount', u'Severity', u'claimdurationInception', u'churn\r',
       u'L', u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR', u'US', u'CAN', u'Dog', u'Cat', u'PPDOG001',
       u'PPCAT001', u'Illness', u'Accident', u'Others', u'Curable',
       u'Non-Curable'],
      dtype='object')

In [63]:
p.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,Currentage,CopayPct,Deductible,PolicyForm,CarrierCd,ClaimAmount,Severity,...,CAN,Dog,Cat,PPDOG001,PPCAT001,Illness,Accident,Others,Curable,Non-Curable
0,1026,1319.141,2134.399452,9.0,0.8,400,10000,XLC,159.20,Curable,...,0,1,0,0,0,1,0,0,1,0
1,484,7568.184,589.292137,4.0,0.8,250,15000,XLC,13.92,Curable,...,0,1,0,0,0,1,0,0,1,0
2,1025,58.460,992.219616,2.0,0.9,300,20000,XLC,29.41,Curable,...,0,1,0,0,0,1,0,0,1,0
3,528,9040.553,554.195726,6.0,0.9,200,Bronze,ALZ,58.50,Curable,...,0,1,0,0,0,1,0,0,1,0
4,1080,12328.316,1463.859397,3.0,0.9,200,Unlimited,XLC,312.99,Non-Curable,...,0,1,0,0,0,0,1,0,0,0

In [65]:
p.drop(['Severity'],axis=1,inplace=True)
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PolicyForm', u'CarrierCd',
       u'ClaimAmount', u'claimdurationInception', u'churn\r', u'L',
       u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR', u'US', u'CAN', u'Dog', u'Cat', u'PPDOG001',
       u'PPCAT001', u'Illness', u'Accident', u'Others', u'Curable',
       u'Non-Curable'],
      dtype='object')

In [66]:
p.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,Currentage,CopayPct,Deductible,PolicyForm,CarrierCd,ClaimAmount,claimdurationInception,...,CAN,Dog,Cat,PPDOG001,PPCAT001,Illness,Accident,Others,Curable,Non-Curable
0,1026,1319.141,2134.399452,9.0,0.8,400,10000,XLC,159.20,952.0,...,0,1,0,0,0,1,0,0,1,0
1,484,7568.184,589.292137,4.0,0.8,250,15000,XLC,13.92,255.0,...,0,1,0,0,0,1,0,0,1,0
2,1025,58.460,992.219616,2.0,0.9,300,20000,XLC,29.41,921.0,...,0,1,0,0,0,1,0,0,1,0
3,528,9040.553,554.195726,6.0,0.9,200,Bronze,ALZ,58.50,401.0,...,0,1,0,0,0,1,0,0,1,0
4,1080,12328.316,1463.859397,3.0,0.9,200,Unlimited,XLC,312.99,341.0,...,0,1,0,0,0,0,1,0,0,0

In [67]:
p['CarrierCd'].unique()

array(['XLC', 'ALZ', 'CAN', 'AGR', '137'], dtype=object)

In [77]:
p.drop(p.index[334476],inplace=True)

In [78]:
p['XLC']=0
p['ALZ']=0
p['CAN']=0
p['AGR']=0
p.loc[p['CarrierCd']=='XLC', 'XLC'] = 1
p.loc[p['CarrierCd']=='ALZ', 'ALZ'] = 1
p.loc[p['CarrierCd']=='CAN', 'CAN'] = 1
p.loc[p['CarrierCd']=='AGR', 'AGR'] = 1

In [79]:
p.drop(['CarrierCd'],axis=1,inplace=True)
p.columns

Index([u'Duration', u'TotalClaimsAmtPaid', u'TotalEarnedPremium',
       u'Currentage', u'CopayPct', u'Deductible', u'PolicyForm',
       u'ClaimAmount', u'claimdurationInception', u'churn\r', u'L',
       u'HighTenure-HighLR', u'HighTenure-LowLR', u'LowTenure-HighLR',
       u'LowTenure-LowLR', u'US', u'CAN', u'Dog', u'Cat', u'PPDOG001',
       u'PPCAT001', u'Illness', u'Accident', u'Others', u'Curable',
       u'Non-Curable', u'XLC', u'ALZ', u'AGR'],
      dtype='object')

In [80]:
p.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,Currentage,CopayPct,Deductible,PolicyForm,ClaimAmount,claimdurationInception,churn,...,PPDOG001,PPCAT001,Illness,Accident,Others,Curable,Non-Curable,XLC,ALZ,AGR
0,1026,1319.141,2134.399452,9.0,0.8,400,10000,159.20,952.0,0,...,0,0,1,0,0,1,0,1,0,0
1,484,7568.184,589.292137,4.0,0.8,250,15000,13.92,255.0,0,...,0,0,1,0,0,1,0,1,0,0
2,1025,58.460,992.219616,2.0,0.9,300,20000,29.41,921.0,1,...,0,0,1,0,0,1,0,1,0,0
3,528,9040.553,554.195726,6.0,0.9,200,Bronze,58.50,401.0,1,...,0,0,1,0,0,1,0,0,1,0
4,1080,12328.316,1463.859397,3.0,0.9,200,Unlimited,312.99,341.0,0,...,0,0,0,1,0,0,0,1,0,0

In [81]:
p['PolicyForm'].unique()

array(['10000', '15000', '20000', 'Bronze', 'Unlimited', 'Gold', '5000',
       '25000', 'Introductory', 'Silver', '2500', 'Intro'], dtype=object)

In [82]:
p.drop(['PolicyForm'],axis=1,inplace=True)

In [83]:
p.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,Currentage,CopayPct,Deductible,ClaimAmount,claimdurationInception,churn,L,...,PPDOG001,PPCAT001,Illness,Accident,Others,Curable,Non-Curable,XLC,ALZ,AGR
0,1026,1319.141,2134.399452,9.0,0.8,400,159.20,952.0,0,1,...,0,0,1,0,0,1,0,1,0,0
1,484,7568.184,589.292137,4.0,0.8,250,13.92,255.0,0,1,...,0,0,1,0,0,1,0,1,0,0
2,1025,58.460,992.219616,2.0,0.9,300,29.41,921.0,1,0,...,0,0,1,0,0,1,0,1,0,0
3,528,9040.553,554.195726,6.0,0.9,200,58.50,401.0,1,1,...,0,0,1,0,0,1,0,0,1,0
4,1080,12328.316,1463.859397,3.0,0.9,200,312.99,341.0,0,1,...,0,0,0,1,0,0,0,1,0,0

In [91]:
m=.8*len(p)
m=340720
print m
x_tr=p[:m]
y_tr=y[:m]
x_te=p[m:]
y_te=y[m:]

340720

In [92]:
p.head()

,Duration,TotalClaimsAmtPaid,TotalEarnedPremium,Currentage,CopayPct,Deductible,ClaimAmount,claimdurationInception,churn,L,...,PPDOG001,PPCAT001,Illness,Accident,Others,Curable,Non-Curable,XLC,ALZ,AGR
0,1026,1319.141,2134.399452,9.0,0.8,400,159.20,952.0,0,1,...,0,0,1,0,0,1,0,1,0,0
1,484,7568.184,589.292137,4.0,0.8,250,13.92,255.0,0,1,...,0,0,1,0,0,1,0,1,0,0
2,1025,58.460,992.219616,2.0,0.9,300,29.41,921.0,1,0,...,0,0,1,0,0,1,0,1,0,0
3,528,9040.553,554.195726,6.0,0.9,200,58.50,401.0,1,1,...,0,0,1,0,0,1,0,0,1,0
4,1080,12328.316,1463.859397,3.0,0.9,200,312.99,341.0,0,1,...,0,0,0,1,0,0,0,1,0,0

In [93]:
import xgboost as xgb
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05).fit(x_tr, y_tr)
predictions = gbm.predict(x_te)

/home/jash/anaconda3/envs/py27/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [ ]:
predictions==y_te

In [ ]:
enc = preprocessing.OneHotEncoder()
enc.fit(X_2)
# 3. Transform
onehotlabels = enc.transform(X_2).toarray()
onehotlabels.shape

In [ ]:
import h2o
from h2o.estimators import H2ORandomForestEstimator

In [ ]:
# TODO: create a OneHotEncoder object, and fit it to all of X
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X_2 = x.apply(le.fit_transform)
X_2.head()




enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(x)

# 3. Transform
onehotlabels = enc.transform(X_2).toarray()
onehotlabels.shape

# as you can see, you've the same number of rows 891
# but now you've so many more columns due to how we changed all the categorical data into numerical data

In [ ]:
import pandas as pd
k=pd.read_csv("/home/jash/Desktop/petplan/xonly_edited2.csv")
k.head()

In [ ]:
model = H2ORandomForestEstimator(ntrees=50, max_depth=20, nfolds=10)

In [ ]:
h2o.init()
df = h2o.import_file(path="/home/jash/Desktop/petplan/xonly_edited2.csv")
y = 'L'
x=df.col_names
print df
x.remove(y)
df[y] = df[y].asfactor()
train, valid, test = df.split_frame(ratios=[.8,.1])
from h2o.estimators.gbm import H2OGradientBoostingEstimator
gbm_cv3 = H2OGradientBoostingEstimator(nfolds=3)
gbm_cv3.train(x=x, y=y, training_frame=train)
## Getting all cross validated models 
all_models = gbm_cv3.cross_validation_models()
print("Total cross validation models: " + str(len(all_models)))